In [ ]:
import pandas as pd 
from sklearn.tree import DecisionTreeRegressor

In [ ]:
melb_file_path = r'C:\Users\Samael101\.vscode\Python Files\ML\melb_data.csv'
melb_data = pd.read_csv(melb_file_path)

In [ ]:
melb_data.describe()
melb_data.head()

In [13]:
melb_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [14]:
filt_melb_data = melb_data.dropna(axis=0)
y = filt_melb_data.Price

In [15]:
y.head()

1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

In [17]:
melb_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
X = filt_melb_data[melb_features]

In [23]:
X.describe()
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [25]:
melb_model = DecisionTreeRegressor()
melb_model.fit(X, y)

DecisionTreeRegressor()

In [26]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [27]:
y.head()

1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

In [30]:
[i for i in melb_model.predict(X.head())]

[1035000.0, 1465000.0, 1600000.0, 1876000.0, 1636000.0]